@import url('https://fonts.googleapis.com/css2?family=Cookie&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Trade+Winds&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Trade Winds', cursive;
    
body {
    background-color: rgb(243, 243, 243);
}

header {
    border-bottom: 1px solid rgb(184, 184, 184);
    padding: 10px 0;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 99;
    background-color: #ffffff;
}

.headerProfil {
    max-width: 850px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    margin-left: 10px;
}

.logo a{
    text-decoration: none;
    font-family: 'Courier New', cursive;
    letter-spacing: 2px;
    font-size: 2em;
    font-weight: 600;
    color: rgb(0, 0, 0);
}

.profil img {
    border-radius: 50%;
    border: 1px solid #d0d0d0;
    padding: 3px;
    margin-right: 10px;
}

main {
    max-width: 850px;
    margin: auto;
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
}


.contentLeft {
    /* background-color: aqua; */
    width: 550px;
}

.boxContent {
    border: 1px solid rgb(194, 194, 194);
    background-color: #ffffff;
    margin-bottom: 50px;
    align-items: justify;
}

.foto {
    display: flex;
    align-items: center;
    margin: 20px 0 20px 20px;
}

.foto img {
    border-radius: 50%;
}

.nama {
    margin-left: 10px;
    font-weight: bold;
}

.gambar img {
    border-radius: 20%;
    align-items: center;
    width: 100%;
}

.caption {
    margin: 20px 10px;
}

.namaDua {
    font-weight: bold;
    text-align: justify;
}

.tanggal {
    margin-left: 10px;
    margin-bottom: 20px;
}

.tanggal p {
    font-size: 0.8em;
    color: rgb(141, 141, 141);
}

.contentRight {
    background-color: #ffffff;
    width: 250px;
    height: 340px;
    position: sticky;
    top: 100px;
    margin-left: 50px;
    border: 1px solid rgb(194, 194, 194);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

.contentRight a {
    text-decoration: none;
    color: #000000;
}

.gambarRight img {
    border-radius: 50%;
}

.namaRight {
    margin-bottom: 10px;
    font-weight: bold;
}

.aboutMe p {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #dadada;
    width: 90px;
    padding: 5px 25px;
    font-size: 0.9em;
    font-weight: bold;
    border-radius: 10px;
    margin-bottom: 10px;
}

.aboutMe p:hover {
    background-color: #929292;
}

.aboutMe img {
    margin-right: 10px;
}

.link {
    margin-top: 10px;
    font-size: 0.8em;
    color: #8c8c8c;
}

.link a{
    color: #8c8c8c;
}

.link a:hover {
    color: #101010;
}

.copyright {
    font-size: 0.8em;
    margin-top: 5px;
    margin-left: 25px;
    color: #8c8c8c;
}

@media (max-width:863px) {
    .contentRight {
        display: none;
    }

    main {
        justify-content: center;
    }
}