@import url('https://fonts.googleapis.com/css2?family=Cookie&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Jost&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Jost', sans-serif;
}


body {
    background-color: rgb(243, 243, 243);
}

header {
    border-bottom: 1px solid rgb(184, 184, 184);
    padding: 10px 0;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 9;
    background-color: #ffffff;
}

.headerProfil {
    max-width: 850px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    margin-left: 10px;
}

.logo a{
    text-decoration: none;
    font-family: 'Cookie', cursive;
    letter-spacing: 2px;
    font-size: 2em;
    font-weight: 600;
    color: rgb(0, 0, 0);
}

.profil img {
    border-radius: 50%;
    border: 1px solid #d0d0d0;
    padding: 3px;
    margin-right: 10px;
}

/* main {

} */

.boxProfil {
    max-width: 850px;
    /* background-color: rgb(84, 84, 84); */
    margin: auto;
    display: flex;
    padding-top: 100px;
}

.containerProfil {
    margin-left: 10px;
}

.containerProfil img {
    border-radius: 50%;
    border: 5px solid rgb(199, 199, 199);
}

.bio {
    margin-left: 50px;
}

.nama {
    font-size: 2em;
}

.pofesi {
    font-size: 0.9em;
    color: rgb(94, 94, 94);
}

.facebook {
    margin: 10px 0;
    width: max-content;
    background-color: #dadada;
    padding: 3px 20px;
    border-radius: 10px;
}

.facebook:hover {
    background-color: #929292;
}

.facebook a {
    text-decoration: none;
    color: #000000;
}

.facebook p {
    display: flex;
    align-items: center;
    font-size: 1em;
}

.facebook img {
    margin-right: 10px;
}

.containerMenu {
    max-width: 850px;
    height: 100px;
    margin: auto;
    padding-top: 50px;
}

.menu {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.menu a {
    text-decoration: none;
    color: #000000;
}

.gallery {
    font-weight: bold;
    border-top: 1px solid black;
    padding-top: 10px;
}

.aboutMe p, .skills p, .project p, .gallery p  {
    display: flex;
    align-items: center;
    justify-content: center;
}

.aboutMe img, .skills img, .project img, .gallery img  {
    margin-right: 10px;
}

.skills, .project, .aboutMe {
    padding-top: 12px;
}

.continerForGallery {
    max-width: 850px;
    margin: auto;
    padding-bottom: 50px ;
    /* background-color: #929292; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.forGalleryTitle {
    /* background-color: #ffffff; */
    padding: 10px 50px;
    font-family: 'Cookie', cursive;
    font-weight: bold;
    font-size: 1.5em;
    /* border-top-left-radius: 50px;
    border-bottom-right-radius: 50px; */
    border-bottom: 1px solid rgb(0, 0, 0);
}

.galleryMe {
    max-width: 730px;
    /* background-color: #929292; */
    margin: 30px 10px 0 10px;
}

.boxGallery {
    /* background-color: rgb(108, 155, 196); */
    display: flex;
    /* justify-content: space-between; */
    margin-bottom: 10px;
}

.galleryIsi {
    width: 220px;
    height: 220px;
    margin: 0 5px;
    /* background-color: #000000; */
}

.galleryIsi .myfoto {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.galleryIsi a:hover {
    opacity: .8;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgb(0, 0, 0, 0);
    z-index: 10;
    transition: .4s;
    width: 0;
    height: 0;
    overflow: hidden;
    text-align: center;
    padding: 50px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.overlay:target {
    width: auto;
    height: auto;
    bottom: 0;
    right: 0;
    background-color: rgb(0, 0, 0, 0.8);
}

.overlay img {
    max-width: 100%;
    max-height: 100%;
}

.overlay:target img {
    animation: zoomDanFade .5s;
}

.overlay .close {
    position: absolute;
    top: 10px;
    color: #ffffff;
    font-weight: bold;
    text-decoration: none;
    background-color: #000000;
    border: 1px solid white;
    padding: 0 10px;
    opacity: 0;
}

.overlay:target .close {
    animation: slideDownFade .5s .5s forwards;
}

@keyframes zoomDanFade {
    0% {
        transform: scale(0);
        opacity: 0;

    }

    100% {
        transform: scale(1);
        opacity: 1;

    }
}

@keyframes slideDownFade {
    0% {
        opacity: o;
        margin-top: -20px;
    }

    100% {
        opacity: 1;
        margin-top: 0;
    }
}



@media (max-width:760px) {
    .galleryIsi .myfoto {
        width: 200px;
        height: 200px;
    }

    .galleryIsi {
        width: 200px;
        height: 200px;
    }
}

@media (max-width:644px) {
    .galleryIsi .myfoto {
        width: 180px;
        height: 180px;
    }

    .galleryIsi {
        width: 180px;
        height: 180px;
    }
}

@media (max-width:574px) {
    .galleryIsi .myfoto {
        width: 160px;
        height: 160px;
    }

    .galleryIsi {
        width: 160px;
        height: 160px;
    }
}

@media (max-width:512px) {
    .galleryIsi .myfoto {
        width: 140px;
        height: 140px;
    }

    .galleryIsi {
        width: 140px;
        height: 140px;
    }
}

@media (max-width:452px) {
    .galleryIsi .myfoto {
        width: 120px;
        height: 120px;
    }

    .galleryIsi {
        width: 120px;
        height: 120px;
    }
}

@media (max-width:394px) {
    .galleryIsi .myfoto {
        width: 100px;
        height: 100px;
    }

    .galleryIsi {
        width: 100px;
        height: 100px;
    }
}

@media (max-width:332px) {
    .galleryIsi .myfoto {
        width: 80px;
        height: 80px;
    }

    .galleryIsi {
        width: 80px;
        height: 80px;
    }
}

@media (max-width:473px) {
    .boxProfil {
        flex-direction: column;
        align-items: center;
    }

    .bio {
        margin-left: 10px;
    }
}

@media (max-width:547px) {
    .type {
        display: none;
    }

    .aboutMe img, .skills img, .project img, .gallery img  {
        margin-right: 0;
        width: 20px;
        height: 20px;
    }

    .aboutMe, .skills, .project, .gallery {
        width: 50px;
    }
}